*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#azul{background-color: #3686F3;}
#verde{background-color: #36F350;}
#amarelo{background-color: #EED833;}
#marrom{background-color: #50332D;}
#ciano{background-color: #00ffff;}

h1{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}

.cor{
    margin:10px 0;
}

.cor:hover{
    border: 2px solid #ccc;
}

.cor:nth-child(odd){
    font-style: italic;
}