*{
    user-select: none;
}

.input-wrapper{
    margin: 20px 0;
}

p {
    margin-bottom: 5px;
}

textarea{
    width: 500px;
    height: 150px;
    resize: none;
    border-radius: 10px;
    padding: 15px 10px;    
    font-size: 18px;
}

textarea:focus{
    outline: none;
}

.input-wrapper div{
    margin-bottom: 20px;
}